
/*加载样式的颜色*/
.loader span:nth-child(1) {
    background: rgba(200, 200, 200, 0.6);
}
.loader span:nth-child(2) {
    background: rgba(150, 150, 150, 0.8);
}
.loader span:nth-child(3) {
    background: rgb(100, 100, 100);
}
.loader span:nth-child(4) {
    background: rgba(150, 150, 150, 0.8);
}
.loader span:nth-child(5) {
    background: rgba(200, 200, 200, 0.6);
}