html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.personal-main-top {
    width: 100%;
    color: #fff;
    z-index: -1;
}

.personal-main-top-blur {
    position: absolute;
    width: 100%;
    height: 221px;
    filter: blur(10px);
    z-index: -2;
    text-align: center;
}

.personal-main-top-body {
    margin-top: 10px;
}

.personal-main-top-user {
    text-align: center;
}

.personal-main-top-user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.personal-main-top-username,
.personal-main-top-user-img {
    display: flex;
    justify-content: center;
}

.personal-main-top-username img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.personal-main-top-money {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: flex-start;
}

.personal-main-top-money img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.personal-main-top-navbar {
    position: relative;
    background-color: #3FE8C9;
    opacity: 0.5;
    display: flex;
    width: 100%;
}

.vertical-bar-line {
    width: 0px;
    border: #fff solid 1px;
    height: 35px;
    margin: 5px 0;
    color: #fff;
}

.personal-main-top-navbar-item {
    position: relative;
    display: block;
    background-color: #b9b9b9;
    padding: 10px 0;
    flex: 1;
    text-align: center;
    font-size: 18px;
    color: #484848;
}

.personal-main-top-navbar-item:active {
    background-color: #ffffff;
}

.personal-main-top-navbar-item.personal-main-top-navbar-item-on {
    font-size: 20px;
    color: #ffffff;
    background-color: #26e41d;
    border-bottom: 1px solid #CCCCCC;
}

.personal-main-top-navbar-item:after {
    content: " ";
}

.personal-main-top-navbar-item:last-child:after {
    display: none;
}

.personal-main-bottom {
    box-sizing: border-box;
    width: 100%;
    color: #cde;
    font-family: sans-serif;
}

.personal-main-bottom .personal-task {
    display: none;
    height: 100%;
    overflow: auto;
}

.personal-main-bottom .personal-task.personal-task--active {
    display: block;
}


/*.personal-item-content {
    display: flex;
    height: 100px;
    margin: 5px 5px;
    color: #535353;
    background-color: #fff;
    border-bottom: 2px solid #eee;
}*/

.user-goods-wrapper .personal-item-content {
    display: flex;
    flex-wrap: nowrap;
    margin: 2px 0;
    border-bottom: 2px solid #eee;
    border-radius: 0px;
    overflow: hidden;
}

.user-goods-wrapper .personal-item-content-left {
    flex: 0 0;
    padding: 10px;
}

.user-goods-wrapper .personal-item-content-body {
    flex: 1 1;
    padding: 10px 5px;
}

.user-goods-wrapper .personal-item-content-left .status-image img {
    width: 60px;
    height: 60px;
    border-radius: 35px;
}

.user-goods-wrapper .personal-item-content-left .status-name {
    text-align: center;
    color: #84ff09;
}

.user-goods-wrapper .personal-item-content-body .top {
    overflow: hidden;
}

.user-goods-wrapper .personal-item-content-body .bottom {
    overflow: hidden;
}

.user-goods-wrapper .personal-item-content-body .type {
    border: 1px solid #e5e5e5;
    padding: 2px 6px 1px;
    background: #e5e5e5;
    color: #3fc78d;
    border-radius: 5px;
    font-size: 12px;
    float: left;
}

.user-goods-wrapper .personal-item-content-body .title {
    margin-left: 10px;
    font-size: 18px;
    color: #000000;
    line-height: 21px;
    padding-top: 1px;
    max-height: 21px;
    float: left;
    overflow: hidden;
}

.user-goods-wrapper .personal-item-content-body .time {
    margin: 5px 0;
    font-size: 12px;
    color: #999999;
}

.user-goods-wrapper .personal-item-content-body .describe {
    margin: 0px 0 5px;
    font-size: 14px;
    color: #000000;
}

.user-goods-wrapper .personal-item-content-body .describe p {
    max-height: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-goods-wrapper .personal-item-content-body .place {
    float: left;
    margin-top: 2px;
    font-size: 14px;
    color: #999999;
    line-height: 24px;
    padding: 1px 0;
}

.user-goods-wrapper .personal-item-content-body .operation {
    float: right;
    border: 1px solid #e5e5e5;
    color: #000000;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 14px;
    padding: 1px 8px;
    background: #33cc00;
    border-radius: 5px;
}


/*左滑删除菜单*/

.left-slide-list {
    overflow: hidden;
}

.left-slide-li {
    overflow: hidden;
    width: 100%;
}

.left-slide-item {
    display: block;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.personal-item-content {
    width: 100%;
}

.left-slide-operation {
    float: right;
    width: 15%;
    text-align: center;
    background: #E2421B;
    color: #fff;
}

.slide-left {
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
}