.user-bg {
    background: #000 url('../images/background.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.user-bg-blur {
    filter: blur(10px);
}

.user-name {
    text-align: right;
}

.headimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-card-show,
.user-card-edit {
    height: 25%;
    margin-top: 10px;
    text-align: center;
}

.user-card-show img,
.user-card-edit img {
    width: 80%;
    border: solid 2px #ddd;
}

.user-edit-btn,
.user-save-btn {
    margin: 30px 20px;
}


/*User Information Edit*/

.centerdiv {
    display: flex;
    justify-content: center;
}


/* 修改RADIO样式 */

.gender-edit label {
    display: inline;
}

.regular-radio {
    display: none;
}

.regular-radio+label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked+label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked+label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.regular-radio+label:active,
.regular-radio:checked+label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}