<!-- fengziboboy at 2017.11.21 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0" />

    <title>个人资料-编辑</title>

    <link rel="stylesheet" href="../../common/css/weui.css">
    <link rel="stylesheet" href="../../common/css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../css/comment.css">
</head>

<body>

    <div>
        <a href="javascript:click(1)"><img src="../img/personCenter/star.png" id="star1" onMouseOver="over(1)" onMouseOut="out(1)" /></a>
        <a href="javascript:click(2)"><img src="../img/personCenter/star.png" id="star2" onMouseOver="over(2)" onMouseOut="out(2)" /></a>
        <a href="javascript:click(3)"><img src="../img/personCenter/star.png" id="star3" onMouseOver="over(3)" onMouseOut="out(3)" /></a>
        <a href="javascript:click(4)"><img src="../img/personCenter/star.png" id="star4" onMouseOver="over(4)" onMouseOut="out(4)" /></a>
        <a href="javascript:click(5)"><img src="../img/personCenter/star.png" id="star5" onMouseOver="over(5)" onMouseOut="out(5)" /></a>
        <span id="message"></span>
    </div>
    <div class="aiya">哎呀，其实我还没写好这个页面。</div>

    <!-- common js -->
    @@include("include/common-js.html", {"info": "this is info."})
    <!-- common js -->
    <script src="../js/comment.js"></script>
</body>

</html>