<!DOCTYPE html>
<html>

<head>
    <!-- common head and css -->
    @@include("include/common-head.html", {"title": "时间典当行"})
    <!-- common head and css -->
    <!-- zhao jinbo -->
    <link rel="stylesheet" href="../css/personcenter.css">
    <!-- zhao jinbo -->

</head>

<body>

<!-- 2017-05-16 个人中心页面帮你弄过来了-->
@@include("include/index-user.html", {"info": "this is info."})
<!-- 2017-05-16 个人中心页面帮你弄过来了-->

<!-- common js -->
@@include("include/common-js.html", {"info": "this is info."})
<!-- common js -->

<!-- zhao jinbo -->
<script src="../../common/js/city-picker.js"></script>
<script src="../js/personal-center.js"></script>
<script src="../js/left-shift-menu.js"></script>
<!-- zhao jinbo -->

</body>

</html>