
<li class="goods-wrapper">
    <div class="content">
        <div class="left-user" data-user="">
            <div class="image"><img src=""></div>
            <div class="money"><span></span><img src="../img/task-item/money.png"></div>
            <div class="name"></div>
        </div>
        <div class="right-goods" data-id="">
            <div class="top"><div class="title"></div><div class="type"></div></div>
            <div class="place"><span></span></div>
            <div class="describe"><p></p></div>
            <div class="bottom">
                <div class="time"><span class="time-content"></span></div>
                <div class="operation"><span>抢单</span></div>
            </div>
        </div>
    </div>
</li>
