<div class="weui-search-bar" id="searchBar">
    <div class="index-select-school change-school" id="change-school">
        <p id="school">切换校区</p>
        <img src="../img/index/dating1.png">
    </div>
    <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>请输入关键字搜索</span>
        </label>
    </form>
</div>