<li class="user-goods-wrapper">
    <div class="personal-mytask-content">
        <div class="personal-mytask-content-leftTop">
        </div>
        <div class="personal-mytask-content-body" myTask-id="111">
            <div class="top">
                <div class="title"></div>
                <div class="type">
                    <img src="">
                    <p></p>
                </div>
                <div class="operation">
                    <img src="../img/personCenter/grzx5.png">
                </div>
            </div>
            <div class="describe">
                <p></p>
            </div>
        </div>
    </div>

</li>