<li class="user-goods-wrapper">
    <div class="personal-mypub-content" myPub-id="111">
        <div class="personal-mypub-content-left">
            <div class="status-image"><img src=""></div>
            <div class="status-name"></div>
        </div>
        <div class="personal-mypub-content-body" myPub-id="111">
            <div class="top">
                <div class="title"></div>
                <div class="type">
                    <img src="">
                    <p></p>
                </div>
                <!-- <div class="time">
                        <span>发布时间：</span>
                        <span class="time-content"></span>
                    </div> -->
                <div class="operation">
                    <img src="../img/personCenter/grzx5.png">
                </div>

            </div>
            <div class="describe">
                <p></p>
            </div>
            <!--                 
                <div class="bottom">
                    <div class="place">
                        地点：<span></span>
                    </div>

                </div> 
                -->
        </div>
    </div>
</li>