/*强调色*/
/*输入框的颜色*/
/*按钮的颜色*/
/*item的颜色*/
/*搜索提示内容的颜色*/
.search-wrapper {
  width: 100%;
}
.search-wrapper .search-top-widget {
  width: 90%;
  margin: 5px 5%;
}
.search-wrapper input {
  outline: none;
}
.search-wrapper .search-input {
  height: 36px;
  width: 85%;
  padding: 0px 2.5%;
}
.search-wrapper .search-input.input-style {
  border-radius: 8px;
  border: 1px solid green;
  font-size: 16px;
  color: green;
}
.search-wrapper .search-submit {
  width: 13%;
  height: 36px;
  margin: 0 0 2% 0;
  float: right;
}
.search-wrapper .search-submit.input-style {
  border-radius: 8px;
  border: 1px solid green;
  background: green;
}
