<!DOCTYPE html>
<html>

<head>
    <!-- common head and css -->
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="这是一个神奇的网站">
<title>时间典当行</title>

<!-- common -->
<link rel="stylesheet" href="../../common/css/reset.css" />
<link rel="stylesheet" href="../../common/css/weui.css" />
<link rel="stylesheet" href="../../common/css/jquery-weui.css" />
<!-- common -->

    <!-- common head and css -->
    <!-- ALISURE -->
    <link rel="stylesheet" href="../css/index-main.css" />
    <link rel="stylesheet" href="../css/task-item-style.css" />
    <!-- ALISURE -->

</head>

<body>

    <div class="index-body">
        <!-- ALISURE 2017-05-21 搜索框-->
        
<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>请输入关键字搜索</span>
        </label>
    </form>
</div>

        <!-- ALISURE 2017-05-21 搜索框-->

        <!-- ALISURE 2017-05-21 任务类型、任务排序、任务列表-->
        
<!--任务类型-->
<div class="index-task-type">
    <div class="index-task-type-bar">
        <div><img src="../img/index/task-type-4.png"></div>
        <div class="index-task-type-bar-name">任务类型</div>
        <div class="index-task-school">
            <div id="school"></div>
            <div id="change-school" class="change-school">切换</div>
        </div>
    </div>
    <div id="indexTaskTypeData" style="display: none">
        <div class="index-task-type-item" data-id="1">
            <img src="../img/index/task-type-2.png" alt="">
            <p class="index-task-type-label">学习</p>
        </div>
    </div>
    <div class="index-task-type-body">
        <div id="indexTaskTypeDataWrapper" class="index-task-type-tabbar"></div>
    </div>
</div>
<!--任务类型-->

<!--任务列表-->
<div class="index-main">

    <!-- 排序 -->
    <div class="index-main-sort">
        <div class="sort-content">
            <div id="indexSort" class="sort-left">
                <div class="current" data-id="1">默认排序</div>
                <div data-id="2">按金币</div>
                <div data-id="3">按时间</div>
            </div>
            <div id="indexSortRight" class="sort-right">
                <div class="page-refresh"><img src="../img/index/refresh.png"></div>
            </div>
        </div>
    </div>
    <!-- 排序 -->

    <!-- 任务列表 -->
    <div>
        <!-- HTML 数据 -->
        <div id="taskData" style="display: none">
            
<li class="goods-wrapper">
    <div class="content">
        <div class="left-user" data-user="">
            <div class="image"><img src=""></div>
            <div class="money"><span></span><img src="../img/task-item/money.png"></div>
            <div class="name"></div>
        </div>
        <div class="right-goods" data-id="">
            <div class="top"><div class="title"></div><div class="type"></div></div>
            <div class="place"><span></span></div>
            <div class="describe"><p></p></div>
            <div class="bottom">
                <div class="time"><span class="time-content"></span></div>
                <div class="operation"><span>抢单</span></div>
            </div>
        </div>
    </div>
</li>

        </div>
        <!-- HTML 数据 -->
        <div id="taskWrapper" style="background-color: #ffffff">
            <ul id="task-list"></ul>
            <div id="task-load-more" class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
            <div id="show-no-data" style="display: none">
                <!--<meta charset="utf-8">
<style>
    body{
        margin: 0px;padding: 0px;
    }
</style>
<div style="height: 500px">
    <div style="width: 100%; height: 100%;
        display: flex;flex-direction: row;
        justify-content: center; align-items: center">
        <div style="">
            <img src="../img/common/no_data.png" style="width: 128px; height: 100px;">
            <div style="text-align:center; color: #bebebe; font-size: 18px;margin-top: 5px;">暂时没有数据！</div>
        </div>
    </div>
</div>-->

<!--使用方法：
1.没有数据：
    @ @include("include/common-error-info.html", {"image": "../img/common/no_data.png", "info": "暂时没有数据！"})
1.没有网络：
    @ @include("include/common-error-info.html", {"image": "../img/common/no_net.png", "info": "无网络，请检查！"})
1.加载失败：
    @ @include("include/common-error-info.html", {"image": "../img/common/no_load.png", "info": "加载失败！"})
-->
<div style="width: 100%; height: 100%;margin-top:100px;display: flex;flex-direction: row; justify-content: center; align-items: center">
    <div>
        <img src="../img/common/no_data.png" style="width: 128px; height: 100px;">
        <div style="text-align:center; color: #bebebe; font-size: 18px;margin-top: 5px;">暂时没有数据！</div>
    </div>
</div>
            </div>
        </div>
    </div>
    <!-- 任务列表 -->

</div>
<!--任务列表-->

        <!-- ALISURE 2017-05-21 任务类型、任务排序、任务列表-->
    </div>

    <!-- common js -->
    
<script src="../../common/js/jquery-2.1.4.js"></script>
<script src="../../common/js/jquery-weui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<!-- for ios bug -->
<script src="../../common/js/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>

<script src="../js/pre-deal.js"></script>

<!-- task.html for image swiper -->
<script src="../../common/js/swiper.min.js"></script>

    <!-- common js -->

    <!-- ALISURE -->
    <script src="../js/index-search.js"></script>
    <script src="../js/index-task-list.js"></script>
    <!-- ALISURE -->

</body>

</html>