<!DOCTYPE html>
<html lang="en">
<head>

    <!-- common head and css -->
    @@include("include/common-head.html", {"title": "修改任务"})
    <!-- common head and css -->

    <!-- ALISURE -->
    <link rel="stylesheet" href="../css/index-publish.css">
    <!-- ALISURE -->
</head>
<body>

<!--修改-->
<div id="modify-wrapper">
    <!-- 2017-05-21 ALISURE 发布页面， 复制的整个publish页面的html部分-->
    @@include("include/index-publish.html", {"info": "this is info."})
    <!-- 2017-05-21 ALISURE 发布页面， 复制的整个publish页面的html部分-->
</div>
<!--修改-->

<!-- common js -->
@@include("include/common-js.html", {"info": "this is info."})
<!-- common js -->

<!-- ALISURE -->
<script src="../js/index-publish.js"></script>
<!-- ALISURE -->
</body>
</html>