<!DOCTYPE html>
<html lang="en">
<head>

    <!-- common head and css -->
    @@include("include/common-head.html", {"title": "搜索结果"})
    <!-- common head and css -->

    <!-- for goods item css -->
    <link rel="stylesheet" href="../css/task-item-style.css" />

</head>
<body>

<div id="data" style="display: none">
    @@include("include/common-task-item.html")
</div>


<div id="wrapper" style="background-color: #ffffff">
    <ul>

    </ul>
    <div id="task-load-more" class="weui-loadmore" style="display: none">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
    <div id="search-empty" style="display: none;width: 100%;
        text-align: center; margin-top: 200px;font-size: 1.2em;color: #999999;">
        没有搜索结果，<span id="continue-search" style="color: #09BB07">继续搜索</span>
    </div>
</div>



<!-- common js -->
@@include("include/common-js.html", {"info": "this is info."})
<!-- common js -->

<!-- for implement refresh goods -->
<script src="../js/search-result.js"></script>

</body>
</html>