<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />

    <title>个人资料</title>

    <link rel="stylesheet" href="../../common/css/weui.css">
    <link rel="stylesheet" href="../../common/css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../css/user-info.css">
</head>

<body>
    <div class="user-info-show" id="user-info-show">
        <!-- 返回 主页面-->
        <div class="user-backindex">
            <a href="index.html"><img src="../img/personcenter/index-green.png"></a>
        </div>
        <div class="weui-cells my-user-cells">
            <div class="user-bg user-bg-blur"></div>
            <div class="weui-cell" id="headPortrait">
                <div class="weui-cell__hd">
                    <img class="headimg" src="">
                </div>
                <div class="weui-cell__bd">
                </div>
                <div class="weui-cell__ft" id="user-name">会飞的鱼</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>性别</p>
                </div>
                <div class="weui-cell__ft" id="user-gender" value="0">女</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>地区</p>
                </div>
                <div class="weui-cell__ft" id="user-address">陕西 西安</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>学校</p>
                </div>
                <div class="weui-cell__ft" id="user-school"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>手机号</p>
                </div>
                <div class="weui-cell__ft" id="user-tel">18292574525</div>
            </div>
        </div>
        <div class="weui-cells__title">一卡通或学生证等证件上传</div>
        <div class="user-card-show" id="user-card-show">
            <img src="../img/personCenter/person-card.jpg">
        </div>
        <div class="user-edit-btn" style="display:none;"><a href="user-edit.html" class="weui-btn weui-btn_primary user-edit-btn">编辑</a></div>
    </div>
    <script src="../../common/js/jquery-2.1.4.js"></script>
    <script src="../../common/js/fastclick.js"></script>
    <script>
        $(function() {
            FastClick.attach(document.body);
        });
    </script>
    <script src="../../common/js/jquery-weui.js"></script>
    <script src="../js/user-info.js"></script>

</body>

</html>