<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />

    <title>个人资料-编辑</title>

    <link rel="stylesheet" href="../../common/css/weui.css">
    <link rel="stylesheet" href="../../common/css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../css/user-info.css">
</head>

<body>
    <div class="user-info-edit" id="user-info-edit" user-id="">
        <div class="weui-cells weui-cells_form my-user-cells">
            <div class="weui-cell centerdiv">
                <div class="weui-cell__hd " id="headPortrait">
                    <a href="javascript:alert('选择图像');" class="user-headimg-edit" id="user-headimg-edit"><img class="headimg " src="../img/personCenter/person-img.jpg"></a>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label" for="user-name-edit">用户名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="user-name-edit" value="" placeholder="请输入用户名">
                </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd ">
                    <label class="weui-label" id="user-gender" for="user-gender-edit">性别</label>
                </div>
                <div class="weui-cell__bd gender-edit " id="user-gender">
                    <input type="radio" id="gender-man-radio" name="radio-1-set" class="regular-radio" value="男" checked/><label for="gender-man-radio"></label>男 &emsp; &emsp;
                    <input type="radio" id="gender-woman-radio" name="radio-1-set" class="regular-radio" value="女" /><label for="gender-woman-radio"></label>女
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label" for="user-address-edit">地区</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id="user-address-edit">
                        <!-- <option value="">请选择省份</option> -->
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label" for="user-school-edit">学校</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id="user-school-edit">
                        <option value="">先选地区再选学校</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label" for="user-tel-edit">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" value="" id="user-tel-edit" placeholder="请输入手机号">
                </div>
            </div>
        </div>

        <div class="weui-uploader weui-cells_form user-card-edit" id="user-card-edit ">
            <div class="weui-uploader__bd centerdiv">
                <div class="weui-uploader__input-box">
                    <div class="user-card-show" id="user-card-show" display="none">
                        <img src="">
                    </div>
                    <input id="uploader-user-card" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                </div>
            </div>
        </div>
        <div><a href="javascript:" id="user-info-submit" class="weui-btn weui-btn_primary user-save-btn ">保存</a></div>
    </div>
    <!-- common js -->
    
<script src="../../common/js/jquery-2.1.4.js"></script>
<script src="../../common/js/jquery-weui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<!-- for ios bug -->
<script src="../../common/js/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>

<script src="../js/pre-deal.js"></script>

<!-- task.html for image swiper -->
<script src="../../common/js/swiper.min.js"></script>

    <!-- common js -->
    <script>
        $(function() {
            FastClick.attach(document.body);
        });
    </script>
    <script src="../js/user-info-edit.js"></script>
</body>

</html>