
<li class="goods-wrapper">
    <div class="content">
        <div class="left-user" data-user="111">
            <div class="image"><img src=""></div>
            <div class="money"><span></span><img src="../img/task-item/money.png"></div>
            <div class="name"></div>
        </div>
        <div class="right-goods" data-id="1">
            <div class="top">
                <div class="type"></div>
                <div class="title"></div>
            </div>
            <div class="time">
                <span>发布时间：</span>
                <span class="time-content"></span>
            </div>
            <div class="describe"><p></p></div>
            <div class="bottom">
                <div class="place">
                    地点：<span></span>
                </div>
                <div class="operation">
                    <span>抢单</span>
                </div>
            </div>
        </div>
    </div>
</li>
