
<div class="weui-tabbar">
    <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="../img/index/icon_nav_button.png" alt="">
        </div>
        <p class="weui-tabbar__label">大厅</p>
    </a>
    <a href="#tab2" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../img/index/icon_nav_article.png" alt="">
        </div>
        <p class="weui-tabbar__label">发布</p>
    </a>
    <a href="#tab3" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="../img/index/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-tabbar__label">我</p>
    </a>
</div>
