
<div class="weui-tab">
    <div class="personal-nav"></div>
    <div class="personal-main-top">
        <div class="personal-main-top-body">
            <div class="personal-main-top-user">
                <a href="user-show.html"><img src="../img/personCenter/person-img.jpg"></a>
                <div class="personal--main-top-username">
                    <p name="username" id="username">会飞的鱼</p>&nbsp;
                    <img src="../img/personCenter/gender-girl.png">
                </div>
                <p name="username" id="">西安电子科技大学</p>
            </div>
            <div class="personal-main-top-money">
                <p>账户值：</p>
                <p id="user_golds">200</p>
                <img src="../img/personCenter/icon_gold.png">
            </div>

        </div>
        <div class="personal-main-top-tab personal-main-top-tab">
            <a class="weui-navbar__item weui-bar__item--on" href="">
                我的任务
            </a>
            <div class="vertical-bar-line" name="line"></div>
            <a class="weui-navbar__item" href="">
                我的发布
            </a>
        </div>
    </div>

    <div class="personal-main-bottom">
        <div class="">
            <div class="personal-main-bottom-item">
                <div class="personal-main-bottom-item-left">
                    <img src="../img/personCenter/进行中.png">
                    <p>进行中</p>
                </div>
                <div class="personal-main-bottom-item-body">
                    <p name="title">【生活】取快递</p>
                    <p name="content">中午十二五亮点起那个爱我id还低洼好idsAudi啥U都是啥U速度阿斗【生活】取快递</p>
                </div>
                <div class="personal-main-bottom-item-right">
                    <img src="../img/personCenter/应用.png">
                </div>
            </div>
            <div class="personal-main-bottom-item">
                <div class="personal-main-bottom-item-left">
                    <img src="../img/personCenter/进行中.png">
                    <p>进行中</p>
                </div>
                <div class="personal-main-bottom-item-body">
                    <p name="title">【生活】取快递</p>
                    <p name="content">中午十二五亮点起那个爱我id还低洼好idsAudi啥U都是啥U速度阿斗【生活】取快递</p>
                </div>
                <div class="personal-main-bottom-item-right">
                    <img src="../img/personCenter/应用.png">
                </div>
            </div>
            <div class="personal-main-bottom-item">
                <div class="personal-main-bottom-item-left">
                    <img src="../img/personCenter/进行中.png">
                    <p>进行中</p>
                </div>
                <div class="personal-main-bottom-item-body">
                    <p name="title">【生活】取快递</p>
                    <p name="content">中午十二五亮点起那个爱我id还低洼好idsAudi啥U都是啥U速度阿斗【生活】取快递</p>
                </div>
                <div class="personal-main-bottom-item-right">
                    <img src="../img/personCenter/应用.png">
                </div>
            </div>
        </div>
        <div class="">
            <div class="personal-main-bottom-item">
                <div class="personal-main-bottom-item-left">
                    <img src="../img/personCenter/完成.png">
                    <p>进行中</p>
                </div>
                <div class="personal-main-bottom-item-body">
                    <p name="title">【生活】取快递</p>
                    <p name="content">中午十二五亮点起那个爱我id还低洼好idsAudi啥U都是啥U速度阿斗【生活】取快递</p>
                </div>
                <div class="personal-main-bottom-item-right">
                    <img src="../img/personCenter/应用.png">
                </div>
            </div>
            <div class="personal-main-bottom-item">
                <div class="personal-main-bottom-item-left">
                    <img src="../img/personCenter/完成.png">
                    <p>进行中</p>
                </div>
                <div class="personal-main-bottom-item-body">
                    <p name="title">【生活】取快递</p>
                    <p name="content">中午十二五亮点起那个爱我id还低洼好idsAudi啥U都是啥U速度阿斗【生活】取快递</p>
                </div>
                <div class="personal-main-bottom-item-right">
                    <img src="../img/personCenter/应用.png">
                </div>
            </div>
            <div class="personal-main-bottom-item">
                <div class="personal-main-bottom-item-left">
                    <img src="../img/personCenter/完成.png">
                    <p>进行中</p>
                </div>
                <div class="personal-main-bottom-item-body">
                    <p name="title">【生活】取快递</p>
                    <p name="content">中午十二五亮点起那个爱我id还低洼好idsAudi啥U都是啥U速度阿斗【生活】取快递</p>
                </div>
                <div class="personal-main-bottom-item-right">
                    <img src="../img/personCenter/应用.png">
                </div>
            </div>
        </div>
    </div>

</div>
