<div class="weui-tab">
    <div class="personal-main-top">
        <img class="personal-main-top-blur" src="../img/personCenter/person-img.jpg">
        <!--个人中心-个人资料-->
        <div class="personal-main-top-body">
            <div class="personal-main-top-user">
                <div class="personal-main-top-user-img" data-id="1">
                    <img src="../img/personCenter/person-img.jpg">
                </div>
                <div class="personal-main-top-username">
                    <p name="username" id="username">会飞的鱼</p>&nbsp;
                    <img src="../img/personCenter/gender-girl.png">
                </div>
                <p name="userschool" id="user_school" data-id="1">西安电子科技大学</p>
            </div>
            <div class="personal-main-top-money" data-id="1">
                <p>账户值：</p>
                <p id="user_golds">200</p>
                <img src="../img/personCenter/icon_gold.png">
            </div>

        </div>
        <!-- 切换 -->
        <div class="personal-main-top-navbar">
            <a class="personal-main-top-navbar-item personal-main-top-navbar-item-on" href="#my-task-page">
                我的任务
            </a>
            <div class="vertical-bar-line" name="line"></div>
            <a class="personal-main-top-navbar-item" href="#my-publish-page">
                我的发布
            </a>
        </div>
    </div>

    <div class="personal-main-bottom">

        <!-- 我的任务 START -->
        <div id="my-task-page" class="personal-task personal-task--active">
            <!-- HTML 我的任务模板 -->
            <div id="userTaskData" style="display: none">
                @@include("index-user-task-item.html")
            </div>
            <!-- HTML 我的任务模板 -->
            <div id="userTaskWrapper" class="left-slide-list" style="background-color: #ffffff">
                <ul id="user-task-list">

                </ul>
                <div id="user-task-load-more" class="weui-loadmore">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                </div>
            </div>

        </div>
        <!-- 我的任务 END -->

        <!-- 我的发布 START -->
        <div id="my-publish-page" class="personal-publish">
            <!-- HTML 我的发布模板 -->
            <div id="userPublishData" style="display: none">
                @@include("index-user-publish-item.html")
            </div>
            <!-- HTML 我的发布模板 -->
            <div id="userPublishWrapper" class="left-slide-list" style="background-color: #ffffff">
                <ul id="user-publish-list">

                </ul>
                <div id="user-publish-load-more" class="weui-loadmore">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                </div>
            </div>
        </div>
        <!-- 我的发布 END -->
    </div>

</div>